
.profile-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff; 
}


.profile-picture img {
    border-radius: 50%;
    width: 120px; 
    height: 120px;
    object-fit: cover;
    border: 2px solid #fff; 
}


.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position: relative;
}

    
    .profile-info h2 {
        font-size: 20px; 
        font-weight: 700; 
        margin-bottom: 8px;
    }

    
    .profile-info ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px; 
        font-size: 14px; 
        color: #8e8e8e;
        margin-bottom: 10px; 
    }

        
        .profile-info ul li {
            display: inline-block;
            margin-right: 20px; 
        }



.edit-profile-button {
    background-color: #0095f6; 
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    color: white; 
    cursor: pointer;
    margin-right: 15px; 
}




.profile-bio-heading {
    padding: 10px 0;
    font-size: 14px;
    color: #262626; 
    max-width: 400px; 
}

   
    .profile-bio-heading h2 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    
    .profile-bio-heading p {
        font-size: 14px;
        color: #262626;
        line-height: 1.4;
    }


body.dark-mode .profile-header {
    background-color: #000;
    border-bottom: 1px solid #333; 
}

body.dark-mode .profile-info ul {
    color: #b3b3b3; 
}

body.dark-mode .edit-profile-button {
    background-color: #333; 
    color: #fff; 
}

body.dark-mode .profile-bio-heading {
    color: #b3b3b3; 
}
