.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-info {
    margin-left: 20px;
}

    .profile-info h2 {
        margin: 0;
    }

    .profile-info ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 20px;
    }

.profile-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.post img {
    width: 100%;
    height: auto;
    display: block;
}

.post p {
    text-align: center;
    margin-top: 5px;
}
