﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/feed.css">
</head>
<body>
    <div class="sidebar">
        <div>
            <div class="logo">
                <h1>Instagram</h1>
            </div>
            <div class="menu">
                <a href="#" class="menu-item">
                    <i class="fas fa-home"></i> Головна
                </a>
                <a href="#" class="menu-item">
                    <i class="fas fa-search"></i> Пошуковий Запит
                </a>
                <a href="#" class="menu-item">
                    <i class="fas fa-compass"></i> Цікаве
                </a>
                <a href="#" class="menu-item">
                    <i class="fas fa-video"></i> Reels
                </a>
                <a href="#" class="menu-item">
                    <i class="fas fa-envelope"></i> Повідомлення
                </a>
                <a href="#" class="menu-item">
                    <i class="fas fa-heart"></i> Сповіщеняя
                </a>
                <a href="#" class="menu-item">
                    <i class="fas fa-plus-square"></i> Створити
                </a>

                <a href="@Url.Action("Index", "Profile")" class="menu-item profile">
                    <img src="https://via.placeholder.com/24" alt="Profile Picture ">  Профіль
                </a>
            </div>
        </div>
        <div class="menu">
            <a href="#" class="menu-item">
                <i class="fas fa-comments"></i> Threads
            </a>
            <a href="#" class="menu-item">
                <i class="fas fa-bars"></i> Ще
            </a>
        </div>
    </div>

    

    
</body>
</html>
